body {
    font-family: 'calibri';
    /*background: #1eca26c5;*/
    background: rgb(255, 241, 111);
}

/*header {
    /*background: url('../img/fondo.jpg');
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: auto;
    grid-template-rows: auto;
    /*background-size: cover;*/
    /*background-repeat: no-repeat;
}*/



header {
    background-color: rgb(177, 224, 7);
}

header .logo {
    display: inline;
    
}

section h4{
    color: orangered;
    margin: 5px;

}

section.tiendaOnl {
    
    padding: 2px 2px 2px 2px;
    color: cornflowerblue;
    font-size: 40px;
    display: grid;
    
    grid-template-columns: 100%;
    
    
}

header .nomTienda {
    font-size: 40px;
    color: blue;
    display: flex;
    justify-content: center;
    
    font-family: 'cambria';
    padding: 0;
    margin-top: 0;
    
}

@media (min-width: 1305px){
    header .nomTienda{
        color: black;
    }
    section.tiendaOnl{
        color: blue;
    }
}

/*header .menuTienda{
    /*
    display: flex;
    justify-content: right;
    flex-direction: row;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px;
    justify-content: left;
    
       
}*/

#btnmenu {
    display: none;
}

header label {
    display: none;
    
    padding: 10px;
    
}

header label:hover{
    cursor: pointer;
    background: yellowgreen;
}

.menuOpciones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 45px;
    list-style: none;
    padding: 10px;
}

.item {
    text-align: center;
}

.item:hover{
    background: rosybrown;
}

.menuTienda li a {
    display: block;
    padding: 3px 3px;
    
}



header .menuTienda a{
    color: orangered;
    text-decoration: none;
    background: yellow;
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
    font-size: 20px;
    margin: 1px 1px 1px 1px;
    border: solid;


}
/*responsive*/
@media(min-width: 1305px) {
    header .menuTienda a{
    background: white;
    }
}

@media (max-width: 768px) {
    header label {
        display: block;
    }

    .menuTienda {
        position: absolute;
        background: black;
        width: 35%;
        margin-left: -37%;
        transition: all 0.5s;
    }

    .menuOpciones {
        
        grid-template-columns: 1fr;
        grid-template-rows: 40px;
        padding: 1px 1px 0px 0px;
        margin: 2px 2px 5px 2px;       
    }
}

#btnmenu:checked ~ .menuTienda{
    margin: 0;
}

header .buscarEnTienda{
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    padding: 15px 15px;
    
}

.menuDos {
    display: inline;
        
}

.menuDos img {
    position: absolute;
    right: 10px;
}

.menuDos2 {
    display: inline;
    
}

.menuDos2 img {
    position: absolute;
    right: 60px;
}

.slTienda{
    border-top: 6px solid orangered;
    
    display: flex;
    margin: 5px;
    padding: 5px;
    flex-wrap: nowrap;
    
    align-items: stretch;

    border-bottom: 6px solid orangered;
    
}

.slTienda ul{
    display: flex;
    
    
    padding: 10px;
    width: 300%;
    

    animation: cambio 30s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

.slTienda li{
    width: auto;
    list-style: none;
    margin: 5px;
    
    
}




@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: -35%;}

    25% {margin-left: -70%;}
    45% {margin-left: -65%;}

    50%{margin-left: -50%;}
    70%{margin-left: -30%;}

    75%{margin-left: -20%;}
    100%{margin-left: -5%;}
}

.menu2 {
    border-top: 6px solid orangered;
    /*display: flex;
    flex-wrap: wrap;
    justify-content: center;
*/
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  

    border-bottom: 6px solid orangered;
    
    

}

.menu2 img {
    width: 400px;
    height: 200px;
    border: solid;
    border-color: red;
    
    
    
}

@media (min-width: 1305px){
    section{
        color: black;
    }
}

.menuDest {

    border-top: 6px solid orangered;
    /*display: flex;
    flex-wrap: wrap;
    justify-content: center;*/
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    border-bottom: 6px solid orangered;
    
}

.menuDest img {
    width: 400px;
    height: 250px;
    border: dotted;
    border-color: red;
    
}

.redsoc {
    background: black;
    color: wheat;
        
}

.redsoc a {

    /*display: flex;
    justify-content: right;
    color: white*/
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: right;
    grid-template-columns: 70px 70px;
}

.iFiltro{
    display: inline-block;
    border: outset;
    padding: 1px 20px 20px 20px;
    color: blue;
    background-color: goldenrod;
}

.iTienda{
    display: flex;
    justify-content: center;
    padding: 90px;

}

.iTienda a{
    margin: 10px 50px 50px 50px;
    color: black;
}

.dat {
    
    border: goldenrod 6px solid;
}

.dat fieldset {
    border: white 3px solid;
}